MYSQL_ADDON_DB=
MYSQL_ADDON_HOST=
MYSQL_ADDON_PASSWORD=
MYSQL_ADDON_PORT=3306
MYSQL_ADDON_URI=
MYSQL_ADDON_USER=
MYSQL_ADDON_VERSION=8.0

PORT=3001
URL=http://localhost:3001

JWT_SECRET=
JWT_PASSWORD_RESET_SECRET=

SMTP_USER=
SMTP_PASSWORD=
SMTP_CLIENT_ID=
SMTP_CLIENT_SECRET=
SMTP_REDIRECT_URI=
