MYSQL_ADDON_DB=
MYSQL_ADDON_HOST=
MYSQL_ADDON_PASSWORD=
MYSQL_ADDON_PORT=3306
MYSQL_ADDON_URI=
MYSQL_ADDON_USER=
MYSQL_ADDON_VERSION=8.0

PORT=3001
URL=
FRONTEND_URL=

JWT_SECRET=
JWT_PASSWORD_RESET_SECRET=
BCRYPT_ROUNDS=10

RESEND_API_KEY=
RESEND_FROM_EMAIL=
CONTACT_TO_EMAIL=
